mixin footer()
  +b.FOOTER.footer
    .container
      +e.copy © 2016 Avenue Fashion™
      +e.developers
        +e.A(href="").item Design by RobbyDesigns.com 
        +e.A(href="").item Dev by Loremipsum.com