webfont('Montserrat-Black', 'Montserrat-Black')
webfont('Montserrat-Bold', 'Montserrat-Bold')
webfont('Montserrat-ExtraBold', 'Montserrat-ExtraBold')
webfont('Montserrat-Light', 'Montserrat-Light')
webfont('Montserrat-Medium', 'Montserrat-Medium')
webfont('Montserrat-Regular', 'Montserrat-Regular')
webfont('Montserrat-SemiBold', 'Montserrat-SemiBold')
webfont('Montserrat-Thin', 'Montserrat-Thin')

webfont('Roboto-Black', 'Roboto-Black')
webfont('Roboto-Bold', 'Roboto-Bold')
webfont('Roboto-Light', 'Roboto-Light')
webfont('Roboto-Medium', 'Roboto-Medium')
webfont('Roboto-Regular', 'Roboto-Regular')

 