//color var
blackColor=#000
grayText=#727272
whiteColor=#fff
darkGray = #333333
blueColor = #00c8c8
lightGray = #f8f8f8

//mixin font-family font-weight
Montserrat-Black = 'Montserrat-Black', sans-serif
Montserrat-Bold = 'Montserrat-Bold', sans-serif
Montserrat-ExtraBold = 'Montserrat-ExtraBold', sans-serif
Montserrat-Light = 'Montserrat-Light', sans-serif
Montserrat-Medium = 'Montserrat-Medium', sans-serif
Montserrat-Regular = 'Montserrat-Regular', sans-serif
Montserrat-ExtraBold = 'Montserrat-ExtraBold', sans-serif
Montserrat-SemiBold = 'Montserrat-SemiBold', sans-serif

Roboto-Black = 'Roboto-Black', sans-serif
Roboto-Bold = 'Roboto-Bold', sans-serif
Roboto-Light = 'Roboto-Light', sans-serif
Roboto-Medium = 'Roboto-Medium', sans-serif
Roboto-Regular = 'Roboto-Regular', sans-serif

PL = 'ProximaNova-Light'

//max-width container
width-reg = 1170px
width-main = 1770px

// breakpoints
lg-breakpoint = 1199px 
md-breakpoint = 992px
sm-breakpoint = 794px
xs-breakpoint = 540px
 