.footer
  background-color darkGray

  .container
    display flex 
    justify-content space-between
    align-items center
    min-height 45px
  
  &__copy, &__item   
    font-size 13px
    font-family Montserrat-Regular
    font-weight 400
    line-height 21px
    color #777777

  &__item

    &:first-child
      margin-right 35px