.hero
  height 812px
  background lightGray
  position relative
  z-index 99
  
  &:before
    content ''
    position absolute
    top -108px
    left 20%
    width 532px
    height 920px
    background url('../images/bg.png') no-repeat
   
  &__label
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)

    &:before
      content ''
      position absolute

  &__button
    width 342px
    height 59px
    position absolute
    bottom 122px
    right 323px

.button
    border 2px solid grayText
    color #454647
    font-family Montserrat-Regular
    font-size 16px
    font-weight 400
    text-transform uppercase
    letter-spacing 3.2px
    display flex 
    justify-content center
    align-items center

    &:hover
      background-color blueColor
      color whiteColor
      border-color blueColor
      cursor pointer

.catalog
  margin-top 64px
  .container-main
    border-top 1px solid alpha(darkGray,0.2)
    border-bottom 1px solid alpha(darkGray,0.2)
    padding-top 54px
    padding-bottom 62px

  &__tabs
    margin-bottom 61px

.tabs
  max-width 700px
  display flex 
  justify-content space-between
  flex-wrap wrap

  &__link
    color grayText
    font-family Montserrat-Regular
    font-size 13px
    font-weight 400
    line-height 20px
    text-transform uppercase

    &:hover
      color blueColor
      cursor pointer

.product
  display flex
  // flex-wrap wrap
  justify-content space-between

  &__right-block, &__left-block
    display flex
    flex-wrap wrap
    justify-content space-between

  &__left-block
    margin-right 30px
  
  &__card
    width 420px
    height 500px
    background darkGray
    position relative

    &:hover
      box-shadow 0 0px 10px 10px alpha(blackColor,0.2)
      .product__hidden-inform, .product__hidden-bar
        display block

    &:nth-child(3)
      width 870px
      height 704px
      margin-top 30px
      z-index 1

    &:nth-child(1), &:nth-child(2)
      z-index 2

  &__price
    position absolute
    top 15px
    left 15px
    display flex
  
  &__sale
    margin-right 12px
    text-decoration line-through

  &__hidden-bar
    position absolute
    bottom -168px
    left 0
    min-height 150px
    display flex 
    flex-direction column
    align-items center
    background-color whiteColor
    text-align center
    width 100%
    box-shadow 0 15px 10px 10px alpha(blackColor,0.2)

  &__title-bar
    color grayText
    font-family Montserrat-Regular
    font-size 13px
    font-weight 400
    line-height 20px
    text-transform uppercase
    margin-top 21px

  &__text-bar   
    color #8e8c8c
    font-family Roboto-Regular
    font-size 15px
    font-weight 400
    margin-top 19px

  &__buttons-bar
    display flex
    justify-content center
    align-items center
    margin-top 17px
    margin-bottom 17px

  &__button
    width 30px
    height 30px
    border-radius 50%
    background grayText
    position relative
    
    &:not(:last-child)
      margin-right 14px

    &:hover
      background blueColor
      cursor pointer

    &:nth-child(1)
      &:after
        position absolute
        content ''
        width 18px
        height 15px
        top 50%
        left 50%
        transform translate(-50%,-50%)
        background url('../images/minibag.png') no-repeat
    &:nth-child(2)
      &:after
        position absolute
        content ''
        width 18px
        height 16px
        top 50%
        left 50%
        transform translate(-50%,-50%)
        background url('../images/heart.png') no-repeat
    &:nth-child(3)
      &:after
        position absolute
        content ''
        width 15px
        height 16px
        top 50%
        left 50%
        transform translate(-50%,-50%)
        background url('../images/arrows.png') no-repeat
  
  &__position
    position absolute
    top 16px
    right 16px
    flex-direction column
    display flex

  &__front-img
    margin-bottom 17px
  &__front-img, &__back-img
    &:hover
      box-shadow 0 5px 10px 10px alpha(blackColor,0.3)
      cursor pointer

  &__inf
    position absolute
    top 60%
    left 50%
    transform translateX(-50%)\

    &:hover
      cursor pointer

  &__hidden-bar, &__hidden-inform
    display none

.card-right
  &:nth-child(3) 
    order 1 
    margin-top 0px
    margin-bottom 30px    
    z-index 3
  &:nth-child(2) 
    order 2   
  &:nth-child(1) 
    order 3   

.lookbooks
  margin-top 62px
  display flex
  justify-content space-between
  margin-bottom 124px

  &__item
    width 663px
    height 530px
    background-color lightGray
    position relative
    text-align right

    &:not(:last-child)
      margin-right 30px

  &__article
    position absolute
    top 99px
    right 57px
    display flex
    align-items flex-end
    flex-direction column

  &__img
    position absolute
    top 39px
    left 43px
    margin-right 39px

  &__title    
    color #575153
    font-family Montserrat-Bold
    font-size 48px
    font-weight 700
    line-height 54px
    text-transform uppercase
    letter-spacing 2.4px

  &__subtitle
    color #575153
    font-size 48px
    text-transform uppercase
    font-family Montserrat-Light
    font-weight 300
    margin-bottom 29px

  &__text
    color grayText
    font-family Roboto-Regular
    font-size 15px
    font-weight 400
    line-height 22px
    max-width 294px
    margin-bottom 31px
      
  &__button
    width 180px
    height 59px

.navigate-menu
  background-color lightGray
  
  .container
    padding-top 63px
    display flex 
    justify-content space-between
  
  &__item 
    display flex
    flex-direction column

  &__title-elem
    color #575153
    font-family Montserrat-Regular
    font-size 13px
    font-weight 400
    line-height 20px
    text-transform uppercase
    margin-bottom 33px
  
  &__elem
    color grayText
    font-family Montserrat-Light
    font-size 14px
    font-weight 300
    line-height 30px

    &:not(:last-child)
      margin-bottom 5px

.information-desk
  background-color lightGray

  .container
    padding-top 63px
    padding-bottom 56px
    display flex
  
  &__item
    width 570px
    height 200px
    display flex
    flex-direction column
    justify-content center
    align-items center

    &:first-child
      margin-right 30px
      background-color darkGray
    &:last-child
      background-color blueColor

  &__title, &__subtitle
    color whiteColor
    font-size 36px
    letter-spacing 1.8px
    line-height 48px
    text-transform uppercase

  &__title
    font-family Montserrat-Bold
    font-weight 700

  &__subtitle
    font-family Montserrat-Light
